[{maempsia, [
	{mpd, #{
		ip              => {"127.0.0.1", 6600}
	}},
	{webserver, #{
		ip              => {127, 0, 0, 1},
		port            => 9444
	}},
	{radio, #{
		schedule_len    => 60,
		chaos_factor    => 2.0,
		initial_factor  => 0.5,
		min_good_perc   => 30,
		default_rating  => 60,
		discard_prefix  => <<"epic/">>
	}},
	{maloja, #{
		url             => "http://127.0.0.1:42010/apis/mlj_1",
		key             => "NKPCt5Ej7vkilkRtx5EubIa4fG78xhPEbcljU49rHVjDUgV5WmEHl3VDHjZFDrQK",
		scrobble_send   => true,
		scrobble_file   => "scrobble_test.txt"
	}},
	{podcast, #{
		conf            => "/data/programs/music2/supplementary/news/conf",
		glob            => "/data/programs/music2/supplementary/news/pod/**/*.mp3",
		timeout         => 50000,
		interval        => 300000,
		target_fs       => "/data/programs/music2/epic/x_podcast/podcast.mp3",
		target_mpd      => "epic/x_podcast/podcast.mp3"
	}}
]},
{kernel, [{error_logger, {file, "/tmp/maempsia.log"}}]}].
