[{maempsia, [
	{mpd, #{
		ip              => {"127.0.0.1", 6600}
	}},
	{webserver, #{
		ip              => {127, 0, 0, 1},
		port            => 9444
	}},
	{radio, #{
		schedule_len    => 60,
		filter          => {land, [
					{lnot, {base, "epic"}},
					{lnot, {land, [
						{tagop, artist, eq, ""},
						{tagop, album,  eq, ""},
						{tagop, title,  eq, ""}
					]}}
				]}
	}},
	{playlist_gen, #{
		maempsia_pl_radio => #{
			pattern => [1, 1, 1, 2, 1, 1, 1, 2, 1, 0, 1, 2]
		}
	}},
	{maloja, #{
		url             => "http://127.0.0.1:42010/",
		key             => "NKPCt5Ej7vkilkRtx5EubIa4fG78xhPEbcljU49rHVjDUgV5WmEHl3VDHjZFDrQK",
		ignore_file     => "/data/programs/music2/supplementary/maempsia/ignore_scrobbles.config",
		scrobble_send   => true,
		scrobble_file   => "scrobble_test.txt"
	}},
	{podcast, #{
		conf            => "/data/programs/music2/supplementary/news/conf",
		glob            => "/data/programs/music2/supplementary/news/pod/**/*.mp3",
		timeout         => 50000,
		interval        => 300000,
		target_fs       => "/data/programs/music2/epic/x_podcast/podcast.mp3",
		target_mpd      => "epic/x_podcast/podcast.mp3"
	}}
]},
{kernel, [
	{logger_level, debug},
	{logger, [
		{handler, default, logger_std_h, #{
			formatter => {logger_formatter, #{single_line => true}}
		}}
	]}
]}].
